@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito';
  src: url('/bandeins.ttf');
}

body {
  font-family: 'Nunito', sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #27272a;
}

::-webkit-scrollbar-thumb {
  background: #27E0B3;
}


#testimonial-container::-webkit-scrollbar {
  display: none;
}